* {
    margin: 0 auto;
    padding: 0;
    background-color: aquamarine;
}
html {
    display: block;
}
h1 , h2 {
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: arial;
    
}

