header { 
    background-color: rgba(6, 189, 128, 0.699);
    display: flex;
    min-height: fit-content;

}
img {
    margin: 5px;
    align-self: flex-start;
}
a {
    align-self: flex-end;
    
}

section {
    display: grid;
    grid-template-areas:
    'header header'
    'left1 right1'
    'left2 right2'
    'footer footer';
    border-style: double;
    background-color: black;
}
#titulo {
    grid-area: header;
    background-color: rgb(77, 75, 75);
    color: white;
    text-align: center;

}
#article1 {
    grid-area: left1; 
    border-style: groove;
    padding: 20%;
    margin: 10px;
    
}
#article2 {
    grid-area: right1;
    border-style: groove;
    padding: 20%;
    margin: 10px;
    
}

#article3 {
    grid-area: left2;
    border-style: groove;
    padding: 20%;
    margin: 10px;
}
#article4 {
    grid-area: right2;
    border-style: groove;
    padding: 20%;
    margin: 10px;
}

.footer {
    grid-area: footer;
    margin-top: 5px;
    background-color: rgba(6, 189, 128, 0.699);
    text-align: end;
}
button {
    height: min-content;
    margin: 5px;
    padding: 5px;
}

